<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="homepage.css">
    <link rel="javascript" href="homepage.html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forside DBA</title>
</head>
<body>
    <h1>Den endnu mere Blå Avis</h1>
    <div class="menuBar">
        <a href="homepage.html">Forside</a>
        <a href="login.html"> Login</a>
        <a href="logOut.html"> Log ud </a>
        <a href="opretBruger.html"> Opret bruger</a>
        <a href="updateUser.html"> Opdater bruger</a>
        <a href="varer.html"> Mine produkter</a>
    </div>
<h2> Velkommen tilbage</h2>
    <div class="login-form">
        
        <form id="loginform">
            <input type="text" name="email" placeholder="email adresse" id="email" required>
            <input type="password" name="password" placeholder="Password" id ="password"required>
            <button type="button" id="opretbruger" onclick="login()"> login her </button>
        </form>
    </div>
    <script type="text/javascript"> 
       
       var userArr = [
            { 
                email: "sille",
                password: "123"
            }
        ]

            //tjekker om brugeren findes når knappen trykkes på. 
        function login () {
            var email = document.getElementById("email").value
            var password = document.getElementById("password").value

            for (let i=0; i < userArr.length; i++) {
                if(email == userArr[i].email && password == userArr[i].password) {
                    console.log(email + "is logged in")

                } else {
                    console.log('incorrect username')
                }
            }
        } 
        document.getElementById("opretbruger").onclick = function () {
            location.href = 'http://localhost:3000/varer.html'; // efter login sender den dig til varer siden. 
    };
    </script>
</body>
</html>
