<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="homepage.css">
    <link rel="javascript" href="homepage.html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forside DBA</title>
</head>
<body>
    <h1>Den endnu mere Blå Avis</h1>
    <div class="menuBar">
        <a href="homepage.html">Forside</a>
        <a href="login.html"> Login</a>
        <a href="logOut.html"> Log ud </a>
        <a href="opretBruger.html"> Opret bruger</a>
        <a href="updateUser.html"> Opdater bruger</a>
        <a href="varer.html"> Mine produkter</a>
    </div>
<h2> Velkommen tilbage</h2>
    <div class="login-form">
        
        <form id="loginform">
            <input type="text" name="email" placeholder="email adresse" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" id="opretbruger">
        </form>
    </div>
    <script src="login.js"></script>
</body>
</html>
